# Python
__pycache__/
*.py[cod]

# Virtual Environment
benv/
venv/
env/

# Django
db.sqlite3
*.log
media/

# VS Code
.vscode/

# Static files
staticfiles/

# Environment variables
.env

# PyCharm
.idea/